* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image: url("https://i.pinimg.com/originals/bc/23/b9/bc23b955d467d91ccbcb21ba44dabf17.gif");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

form {
    background-color: #0000005f;
    color: #ffffff;
    padding: 20px;
}

::placeholder {
    color: #ffffff;
}

label {
    font-weight: bold;
    display: block;
    margin: 20px;
}

input[type="text"] , input[type="number"] {
    background-color: #f6f6f620;
    color: #ffffff;
    font-size: 100%;
    text-align: center;
    border: none;
    width: 100%;
    padding: 10px;
}

input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.back_button {
    border: none;
    color: white;
    background-color: blue;
    padding: 10px;
    width: 100%;
    font-size: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* ------------ PHP Design ------------ */
.php {
    font-size: large;
    background-color: #0000005f;
    margin: 10px;
    padding: 5px;
    color: #ffffff;
}

.pass {
    color: #00ff00;
}

.failed {
    color: red;
}